body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
}

h1 {
    color: #2c3e50;
    text-align: center;
}

p {
    font-size: 1.2em;
    text-align: justify;
    margin: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

img {
    border-radius: 15px;
    max-width: 500px;
    height: auto;
    display: block;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

td {
    padding: 10px;
    text-align: center;
}

a {
    color: #2980b9;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

a:hover {
    color: #e74c3c;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s;
    display: block;
}

button:hover {
    background-color: #2980b9;
}

#mensagem {
    margin-top: 15px;
    padding: 10px;
    background-color: #dff9fb;
    border-left: 5px solid #3498db;
    border-radius: 8px;
    font-size: 18px;
    color: #2c3e50;
    display: none;
}